* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    padding: 25px;
}

.card:hover .back {
    transform: rotateY(360deg);
}

.card:hover .front {
    transform: rotateY(180deg);
}

.back {
    position: absolute;
    transform: rotateY(180deg);
}

.card {
    display: inline-block;
    width: 400px;
    cursor: pointer;
    transition: transform 0.5 ease-out;
    color: #fff;
    overflow: hidden;
    perspective: 1000px;
    border-radius: 5px;
}

.front,
.back {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 0.5s;
    backface-visibility: hidden;
}

.parent {
    padding: 30px;
}

.h1 {
    font-size: 20px;
}

.h2 {
    font-size: 30px;
    margin-top: 20px;
}

.fix {
    margin-top: 50px;
}

.front::before,
.front::after {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transition: all 0.5s ease-out;
}

.front::before {
    width: 180px;
    height: 180px;
    left: 265px;
    bottom: 100px;
}

.front::after {
    width: 200px;
    height: 200px;
    left: 215px;
    top: 90px;
}

.front:hover::before {
    bottom: 30%;
}

.front:hover::after {
    top: 30%;
}

.img {
    position: absolute;
    width: 30;
    height: 30px;
    top: 30px;
    right: 30px;
    filter: invert(100%);
    transition: all 0.5s ease-out;
}

.front:hover .img {
    top: 40px;
}

/*Front-side of the card*/

.card:nth-child(3n+1) .front {
    background: linear-gradient(to right, #ffc286, #ffb096, #ff7b7b, #ff6868);
}

.card:nth-child(3n+2) .front {
    background: linear-gradient(to right, #5fd0ff, #005fff);
}

.card:nth-child(3n) .front {
    background: linear-gradient(to right, #46ffd2, #00d29f);
}

/*Back-side of the card*/

.card:nth-child(3n+1) .back {
    background: linear-gradient(to right, #ffc286, #ffb096, #ff7b7b, #ff6868);
}

.card:nth-child(3n+2) .back {
    background: linear-gradient(to right, #5fd0ff, #005fff);
}

.card:nth-child(3n) .back {
    background: linear-gradient(to right, #46ffd2, #00d29f);
}